@import "tailwindcss" ;
@theme {
  --background-image-hero: url('@/assets/img/Logo.png;');
}

@theme {
  --color-gold-light: #efca5d;
  --color-gold-dark: #D4AF37;
  --color-black-rich: #050505;
}
body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
